.navbar-custom {
	background-color: #007bff;
}

.navbar-custom .navbar-brand, .navbar-custom .nav-link {
	color: white;
}

.navbar-custom .nav-link:hover {
	color: #cce7ff;
}

.login-btn {
	background-color: white;
	color: #007bff;
	border-color: white;
}

.login-btn:hover {
	background-color: #cce7ff;
}

.navbar-toggler {
	border-color: white;
}

.navbar-toggler-icon {
	background-image:
		url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.form-inline .form-control {
	width: 300px;
}

@media ( max-width : 768px) {
	.form-inline .form-control {
		width: 200px;
	}
}