.video-card {
	cursor: pointer;
	border: none;
	transition: transform 0.2s;
	width: 19%; 
	margin: 0.5%; 
}

.video-card:hover {
	transform: scale(1.05);
}

.video-thumbnail {
    width: 100%;
    height: 150px;
    object-fit: cover; 
    object-position: center;


.video-title {
	font-weight: bold;
	font-size: 16px;
}

.video-channel, .video-views {
	font-size: 14px;
	color: #6c757d;
}

.video-channel {
	margin-top: 5px;
}

.video-views {
	margin-top: 2px;
}

.row.justify-content-center {
	justify-content: space-between; 
}